/.svn

program/Android/Jobsky/.idea/gradle.xml

program/Android/Jobsky/.idea/gradle.xml

program/Android/Jobsky/.idea/misc.xml

program/Android/Jobsky/.idea/vcs.xml

program/web/JobskyApp/.idea/workspace.xml
